grid-element {
  --rhyme-group-a: #fb4934;
  --rhyme-group-b: #b8bb26;
  --rhyme-group-c: #fabd2f;
  --rhyme-group-d: #83a598;
  --rhyme-group-e: #d3869b;
  --rhyme-group-f: #8ec07c;
  --rhyme-group-g: #fe8019;

  --grid-object-size: 4ch;

  :focus:not(:focus-visible) {
    outline: none;
  }
  :focus-visible {
    outline: 1px solid currentColor;
    outline-offset: -3px;
  }

  padding-block-end: 2ch;

  button {
    cursor: pointer;
    color: var(--rhyme-color, currentColor);
    background: none;
    border: 1px solid var(--rhyme-color, currentColor);
    font-weight: bold;
    font-family: inherit;

    &[data-blank="true"] {
      opacity: 0.2;
    }
  }

  input {
    --_fg: var(--rhyme-color, CanvasText);
    --_bg: transparent;
    --_border: var(--rhyme-color, currentColor);

    background: var(--_bg);
    color: var(--_fg);
    border: 1px solid var(--_border);
    outline-color: var(--_border);
    font-weight: bold;
    text-transform: uppercase;
    font-family: inherit;

    &:placeholder-shown {
      opacity: 0.2;
    }
  }

  .board {
    display: grid;
    gap: 0.5ch;
    width: 100%;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5ch;
    align-items: center;

    &:has([data-blank="false"]) {
      input:placeholder-shown {
        opacity: 1;
      }
    }
  }

  .row-left {
    display: flex;
    gap: 0.5ch;
    justify-self: end;
    align-items: center;
  }

  .synth-disc {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5ch;
    font-size: 0.8em;
    opacity: 0.5;

    &[data-blank="true"] {
      visibility: hidden;
    }
  }

  .row-right {
    display: flex;
    gap: 0.5ch;
    justify-self: start;
  }

  .cell {
    width: var(--grid-object-size);
    height: var(--grid-object-size);
    box-sizing: border-box;
  }

  .cell.resolved-count {
    width: auto;
    min-width: var(--grid-object-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    opacity: 0.5;

    &[data-blank="true"] {
      opacity: 0.2;
    }
  }

  .cell:where(.text, .pos) {
    field-sizing: content;
    width: auto;

    padding-inline: 1ch;
    min-width: 12ch;
    text-align: center;

    &.pos {
      min-width: 6ch;
    }

    &.highlighted {
      --_fg: Canvas;
      --_bg: var(--rhyme-color, CanvasText);
      --_border: Canvas;
      opacity: 1;

      &::placeholder {
        color: Canvas;
        opacity: 1;
      }
    }

    &.ai-editing {
      --_fg: Canvas;
      --_bg: var(--rhyme-color, CanvasText);
      --_border: Canvas;
      opacity: 1;

      &::placeholder {
        color: Canvas;
        opacity: 1;
      }
    }
  }

  button.ai-editing {
    background: var(--rhyme-color, CanvasText);
    color: Canvas;
    border-color: transparent;
    opacity: 1;
  }
}

@media screen and (max-width: 40rem) {
  grid-element {
    --grid-object-size: 3ch;
  }
}
